:root {
  --main-font: "Roboto", sans-serif;
  --font-weight-variable: 400;
  --letter-spacing: 0.03em;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --mostly-black-color: #212121;
  --dark-graylish-blue-color: #2f303A;
  --dark-gray-color: #757575;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --background-color: #f5f4fa;
  --secondary-button-bgc: #188ce8;
  --icons-color: #afb1b8;
  --light-bg-color: #f5f4fa;
  --card-set-gap: 30px;
  --icons-default-color: #afb1b8;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--main-font);
  color: var(--mostly-black-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-default-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.link {
  text-decoration: none;
  color: var(--mostly-black-color);
}

.header {
  background: var(--white-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu-list {
  display: flex;
  padding: 0px;
  margin-left: 93px;
}

.nav-menu-list .nav-link {
  padding: 32px 0px;
}

.nav-menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-inline-start: unset;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  color: var(--dark-gray-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  fill: var(--dark-gray-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link svg {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.nav-link_active {
  color: var(--accent-color);
  position: relative;
}

.nav-link_active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-contacts-link svg {
  padding: 0;
}

.navigation-list .list {
  text-align: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
}

.logo_light {
  color: var(--mostly-black-color);
}

.logo_dark {
  color: var(--white-color);
}

.footer-bg.letter {
  margin-bottom: 20px;
  /* outline: 1px solid orange; */
}

.letter {
  color: var(--accent-color);
}

.hero {
  background: var(--dark-graylish-blue-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/about1/Img-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero .container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
}

.modal-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  background-color: var(--accent-color);
  color: var(--white-color);
  line-height: 1.6;
  letter-spacing: var(--letter-spacing);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--secondary-button-bgc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn .primary:hover,
.modal-btn .primary:focus {
  background-color: var(--secondary-button-bgc);
}

.primary {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.filters {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters .nav-link .modal-btn {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.filter-btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-item {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  color: var(--dark-gray-color);
}

.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--mostly-black-color);
}

.map-link {
  color: var(--white-color);
}

.tr-link {
  color: var(--transparent-white-color);
}

.card-project .name-card {
  text-align: left;
  padding: 20px 24px;
}

.card-project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-project__link:hover, .card-project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-project__wrapper {
  position: relative;
  overflow: hidden;
}

.card-project__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--letter-spacing);
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-project__link:hover .card-project__overlay,
.card-project__link:focus .card-project__overlay {
  transform: translateY(0);
  opacity: 1;
}

.footer-address-link {
  line-height: 1.71;
  /* or 171% */
  color: var(--white-color);
}

.footer-contact-link {
  line-height: 1.71;
  /* or 171% */
  color: var(--transparent-white-color);
}

.footer-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background: var(--dark-graylish-blue-color);
}

.footer-bg .container {
  padding-top: 0px;
  display: flex;
  align-items: baseline;
}

.footer-bg h2 {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
}

.footer-nav {
  padding-left: 0px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: var(--letter-spacing);
}

.footer-nav > .footer-nav__item:not(:last-child) {
  margin-bottom: 9px;
}

.come-on {
  width: 206px;
  margin-left: 70px;
  margin-right: auto;
}

.come-on .icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.come-on .icon-link:hover, .come-on .icon-link:focus {
  background-color: var(--accent-color);
}

.come-on .list {
  display: flex;
  justify-content: space-between;
}

/* subscription-form */
.sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.sign-up__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: var(--letter-spacing);
}

.sign-up__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  border-radius: 4px;
  justify-content: space-between;
  margin-left: 12px;
  cursor: pointer;
  border: none;
  font-weight: var(--font-weight-variable);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--white-color);
}
/*# sourceMappingURL=portfolio.css.map */