.feature {
  line-height: 1.71;
  /* or 171% */
  color:var(--dark-gray-color);
}

.about { 
  padding-bottom: 94px;
  padding-top: 94px;
  
  &__title {
      margin-bottom: 50px;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: var(--letter-spacing);
  }
  
  &__item {
      font-size: 16px;
      line-height: 1.18;
      font-weight: 400;
      color: var(--dark-gray-color);
      text-align: center;
      margin-bottom: 16px;
  }

  &__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    text-align: center;
}
  
  & .card-set { 
        &__item-third {
            position: relative;
        }
    }
}

.features {
  padding-top: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-left: calc(-1 * var(--card-set-gap));
  
  & > .item {
      /* outline: 1px solid green; */
      flex-basis: calc(100% / 4 - var(--card-set-gap));
      margin-left: var(--card-set-gap);
      box-shadow: var(--card-shadow);
      border-radius: 0px 0px 4px 4px;
  }
  
  &__item-third {
      /* outline: 1px solid green; */
      flex-basis: calc(100% / 3 - var(--card-set-gap));
      margin-left: var(--card-set-gap);
      margin-bottom: var(--card-set-gap);
      
      &:nth-last-child(-n + 3):nth-last-child(-n + 3) {
          margin-bottom: 0;
      }
    
  }
  
  &__item {
      flex-basis: calc(100% / 4 - var(--card-set-gap));
      margin-left: var(--card-set-gap);

      & .icon-link {
        height: 120px;
        background: var(--light-bg-color);
        border-radius: 4px;
        margin-bottom: 30px;
      }
  }

  &__text  {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing:var(--letter-spacing);
        color: var(--dark-gray-color);
  }

  &__feature-header {
        margin-bottom: 10px;
        font-weight: bold;
        line-height: 1.1;
        font-size: 14px;
        letter-spacing: var(--letter-spacing);
        text-transform: uppercase;
  }

  &__about-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__about-header {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: var(--letter-spacing);
        text-transform: uppercase;
        color: var(--white-color);
    }
}