.client-list {
  margin-top: -30px;
  margin-left: -30px;

  &__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid var(--icons-default-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    & .icon-link {
        height: 90px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
  }
}
