.footer-address-link {
  line-height: 1.71;
  /* or 171% */
  color: var(--white-color);
}
.footer-contact-link {
  line-height: 1.71;
  /* or 171% */
  color: var(--transparent-white-color);
}
.footer-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background: var(--dark-graylish-blue-color);
  
  & .container {
      padding-top: 0px;
      display: flex;
      align-items: baseline;
  }
  
  & h2 {
      margin-bottom: 20px;
      font-family: Roboto;
      font-weight: 700;
      letter-spacing: var(--letter-spacing);
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.14;
    
      color: var(--white-color);
  }
}


.footer-nav {
  padding-left: 0px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: var(--letter-spacing);
  
  & > &__item:not(:last-child) {
      margin-bottom: 9px;
  }
}

.come-on {
  width: 206px;
  margin-left: 70px;
  margin-right: auto;
  
  & .icon-link {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      fill: var(--white-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
      &:hover,
      &:focus {
          background-color: var(--accent-color);
      }
  }
  
  & .list {
      display: flex;
      justify-content: space-between;
  }
}

/* subscription-form */
.sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  
  &__email {
      width: 358px;
      height: 50px;    
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: transparent;  
      padding-top: 15px;
      padding-left: 16px;
      padding-bottom: 15px;
      cursor: pointer;
      color: #fff;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: var(--letter-spacing);

      &::placeholder {    
          font-size: 16px;
          line-height: 1.25;
          letter-spacing: 0.03em;
          color: rgba(255, 255, 255, 0.6);
      }
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    background-color: var(--accent-color);
    border-radius: 4px;
    justify-content: space-between;
    margin-left: 12px;
    cursor: pointer;
    border: none;
   
    font-weight: var(--font-weight-variable);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
}



.subscription {
  &__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: var(--white-color);
  }
}




