
.team {
  background-color: var(--background-color);
  
  & .container {
      padding-top: 94px;
      padding-bottom: 94px;
  }
  
  &-title {
      margin-bottom: 50px;
    
      font-weight: bold;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: var(--letter-spacing);
  }
  
  & .title {
      margin-bottom: 10px;
      font-weight: 500;
  }
}

.name-card {
  padding: 30px 32px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  
  & .list {
      display: flex;
      justify-content: space-between;
      padding: 0;
  }

  .icon-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        /*fill 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
        svg {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            & svg {
                fill: var(--white-color);
            }
        }
    }   
}

