.filters {
  & .list {
      display: flex;
      justify-content: center;
      padding-top: 47px;
      margin-bottom: 50px;
      padding: 0;
      
      & .list-item:not(:last-child) {
          margin-right: 8px;
      }    
  }
}

