.logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    &_light {
      color: var(--mostly-black-color);
    }

    &_dark {
      color: var(--white-color);
    }
  
  }
  .footer-bg.letter{
    margin-bottom: 20px;
    /* outline: 1px solid orange; */
  }
  
  .letter {
    color: var(--accent-color);
  }