.logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    &_light {
      color: var(--mostly-black-color);
    }

    &_dark {
      color: var(--white-color);
    }
  }

  @media screen and (max-width: 1199px) {
    .header .logo {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .header .logo {
      position:relative;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .logo {
      font-size: 26px;
      line-height: 1.19;
  
      .header & {
        padding-top: 24px;
        padding-bottom: 25px;
      }
    }
  }



  
  .footer-bg.letter{
    margin-bottom: 20px;
    /* outline: 1px solid orange; */
  }
  
  .letter {
    color: var(--accent-color);
  }