.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  
  &__close-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 8px;
      right: 8px;
      border-radius: 50%;
      cursor: pointer;
      fill: currentColor;
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.1);

      &:focus,
      &:hover {
          color: var(--accent-color);
          border-color: 1px solid var(--accent-color);
          fill: var(--accent-color);  
      }
  }

}

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  