.filter-btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
   &:hover,
   &:focus { 
      background-color: var(--accent-color);
      color: var(--white-color);
      cursor: pointer;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    }

}


.product-item {
  font-size: 16px;
  line-height: 1.87;

  /* identical to box height, or 187% */

  color: var(--dark-gray-color);

}
 .item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--mostly-black-color);
}
.map-link {
  color: var(--white-color);
}
.tr-link {
  color: var(--transparent-white-color);
}

.card-project {
  & .name-card {
    text-align: left;
    padding: 20px 24px;
  }

  &__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);         
      }
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    &__overlay {
  
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      transform: translateY(100%);
      font-weight: 400;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: var(--letter-spacing);
      color: var(--white-color);
      background-color: rgba(33, 150, 243, 0.9);
      padding: 63px 24px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      .card-project__link:hover &,
      .card-project__link:focus & {
            transform: translateY(0);
            opacity: 1;
      }
    }
}


