.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    @media (max-width: 480px) {
      min-width: 460px;
    }
    
    @media (min-width: 480px) {
      width: 480px;
      margin: 0 auto;
    }
    @media (min-width: 768px) {
      width: 768px;
    }
    @media (min-width: 1200px) {
      width: 1200px;
    }
  }