:root {
    --main-font: "Roboto", sans-serif;
    --font-weight-variable: 400;
    --letter-spacing: 0.03em;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --mostly-black-color: #212121;
    --dark-graylish-blue-color: #2f303A;
    --dark-gray-color: #757575;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --background-color: #f5f4fa;
    --secondary-button-bgc: #188ce8;
    --icons-color: #afb1b8;
    --light-bg-color: #f5f4fa;
    --card-set-gap: 30px;
    --icons-default-color: #afb1b8;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }